[alias]
    pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    commitn = commit --author=\"Niek Keijzer <niek@burrow.cloud>\"

[core]
	autocrlf = input
  excludesfiles = ~/.gitignore_global

[include]
  path = ~/.git_user
